.banner {
	height: 60vh;
	position: relative;
	background-image: url("../assets/images/banner2.jpg");
	background-position: center;
	background-size: cover;
}

.banner__search {
	display: flex;
	flex-direction: column;
	top: 0;
}

.banner__searchButton {
	background-color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	color: #ff7779 !important;
}

.banner__info {
	background-color: black;
	color: white;
	padding: 25vh 50px 40px 50px;
	width: 300px;
}

.banner__info > p {
	margin-top: 20px;
}

.banner__info > button {
	background-color: #ff7779;
	color: white;
	text-transform: inherit;
	font-weight: 800;
	margin-top: 20px;
}
